# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Math/v15/*.suo
/.vs/Math/v15/*.db
/.vs/Math/v15/*.opendb
/.vs/Math/v15/ipch/*.ipch
/Debug/*.ilk
/Debug/*.pdb
/Math/Debug/*.log
/Math/Debug/Math.tlog/*.tlog
/Math/Debug/Math.tlog/*.lastbuildstate
/Math/Debug/*.idb
/Math/Debug/*.pdb
/Math/Release/*.log
/Math/Release/Math.tlog/*.tlog
/Math/Release/Math.tlog/*.lastbuildstate
/Math/Release/*.pdb
/Release/*.iobj
/Release/*.ipdb
/Release/*.pdb
